<div class="layui-footer footer footer_custom">
    <div class="layui-main">
        @*<p>© 2017 <a href="/Home/Index">@SystemConfig.GetSysUrl</a> MIT license</p>*@
        <p>© 2017 <a href="/Home/Index"></a> MIT license</p>
    </div>
</div>