@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
@model Domain.DTOModels.UsersModels
@section js{
    <script src="/Content/js/System/users_add.js"></script>
}
<form class="layui-form margin_top layui-form-pane" method="post" action="/Users/AddDataUsers">
    <div class="layui-field-box">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="UserName" id="UserName" placeholder="请输入用户名" class="layui-input" value="@Model.UserName">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="UserPwd" id="UserPwd" placeholder="请输入密码" class="layui-input" value="@Model.UserPwd">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top:10%;">
            <div class="layui-input-block margin_left_30" style="text-align:center;margin-left:0;">
                <button type="button" class="layui-btn" lay-submit lay-filter="sub" id="btn_sub">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </div>

</form>
