@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
@model Domain.DTOModels.IconModels
@section js{
    <script src="/Content/js/System/icons_add.js"></script>
}
<form class="layui-form margin_top layui-form-pane" method="post" action="/Menu/AddDataIcons">
    <div class="layui-field-box">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="IconName" id="IconName" placeholder="请输入名称" class="layui-input" value="@Model.IconName">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类名</label>
            <div class="layui-input-block">
                <input type="text" name="IconClass" id="IconClass" placeholder="请输入类名" class="layui-input" value="@Model.IconClass">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top:10%;">
            <div class="layui-input-block margin_left_30" style="text-align:center;margin-left:0;">
                <button type="button" class="layui-btn" lay-submit lay-filter="sub" id="btn_sub">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </div>

</form>
