@{
    ViewBag.Title = "Welcome";
}
@section js{ 
<script src="/Content/js/System/homeIndex.js"></script>
}
<div class="layui-row layui-col-space15">
    

    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">版本信息</div>
            <div class="layui-card-body layui-text">
                <table class="layui-table">
                    <colgroup>
                        <col width="100">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>当前版本</td>
                            <td>
                                v1.0.0 pro
                            </td>
                        </tr>
                        <tr>
                            <td>基于框架</td>
                            <td>
                                领域式驱动设计（DDD）、Ioc、LayUI、SqlSugar
                            </td>
                        </tr>
                        <tr>
                            <td>主要特色</td>
                            <td>单页面 / 响应式 / 清爽 / 极简</td>
                        </tr>
                        <tr>
                            <td>联系我们</td>
                            <td style="padding-bottom: 0;">
                                QQ：358638080&nbsp;&nbsp;电话：18811176504
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>